*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: Raleway, sans-serif;
}
a{
    text-decoration: none;
}
/* header styling starts here */
.logo{
    margin: 0 auto 50px auto;
    padding-top: 10px;
    height: 35px;
    display: block;
}
nav{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.overlay_content{
    position: relative;
    top: 15%;
    width: 30%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.openbtn{
    float: right;
    margin-right:20px;
    color: #C89C7A;
    height: 30px;
    position: relative;
    bottom: 70px;
}
.openbtn_img{
    height: 25px;
}
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #C89C7A;
}
.nav_item{
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px; 
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.active{
    border-left: 2px solid #C89C7A;
    border-right: 2px solid #C89C7A;

}
.nav_item:hover{
    border-left: 2px solid #C89C7A;
    border-right: 2px solid #C89C7A;
    transition: .5s;
}
hr{
    position: relative;
    left: -25%;
    width: 150%;
    background-color: #DA945B;
    height: 2px;
}
.header_dropdown {
    position: relative;
    display: inline-block;
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.header_dropdown_content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header_dropdown_content a {
    color: #DA945B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header_dropdown_content a:hover {
    background-color: #ddd;
}

.welcome {
    color: #DA945B;
    font-size: 19px;
    padding-top: 10px;
    font-weight: 500;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    border-bottom-color: #6593AE;
    border-bottom-width: thin;
}
/*
.circle{
    background-color: #6593AE;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    position: absolute;
    left: -200%;
}
*/
@media only screen and (min-width: 768px) {
    .logo{
        margin: 0;
        max-width: 20%;
        height: initial;
        padding: 40px 0 0 5%;
        position: relative;
        z-index: 1;
    }
    .openbtn{
        display: none;
    }
    .closebtn{
        display: none;
    }
    hr{
        display: none;
    }
    nav{
        height: initial;
        width: initial;
        position: initial;
        float: right;
        display: initial;
        margin-top: -30px;
        overflow: visible;
        
    }
    .overlay_content{
        text-align: center;
        font-size: 20px;
        padding: 0 5% 0 5%;
        display: flex;
        justify-content: flex-end;
        width: initial;
        height: initial;
    }
    .nav_item{
        margin-left: 20px;
        width: inherit;
        display: inline-block;
        white-space: nowrap;
    }
    .header_dropdown:hover .header_dropdown_content {
        display: block;
    }
    
}

/*

 --- old desktop first settings ---
.logo{
    margin-top: 40px;
    max-width: 20%;
    padding-left: 5%;
}

nav{
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 0 5% 0 5%;
}
*/

/* header styling ends here */



/* The main part starts */
.findus_container {
    margin-top: 50px;
}

.findus_container {
    text-align: center;
    font-size: 40px;
    color: #6593AE;
}

.shops_title {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
    text-align: center;
    color: #F09346;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 60px;
}
.container {
    position: relative;
    padding: 0 18px;
    max-width: 1280px;
    margin-right: auto;
    width: calc(50% - 48px);
    float: left;
    margin-left: 32px;
}
.shop {
    background-color: #fff;
    margin-bottom: 16px;
    position: relative;
    padding: 16px 16px 26px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 100px;
}
.shop_detail {
    color: #7e898c;
    font-family: Neris-Light,sans-serif;
    font-weight: 400;
}
.w-full {
    width: 628px;
    height: 599px;
    border-radius: 15px;
    float: right;
}
.map {
    display: block;
}

/* FOOTER CODE STARTS HERE */ 
footer{
    background-color: #3D5867;
    display: flex;
    justify-content: space-around;
}
.newsletter_container{
    text-align: center;
    color: white;
    clear: both;
}
.sub2news{
    clear: both;
    padding-top: 20px;
}
input[type=email] {
    width: 25vw;
    height: 2vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 1vw;
    border: 0 solid transparent;
}
.news_submit{
    width: 4vw;
    height: 2vw;
    display: inline-block;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Raleway, sans-serif;
    background-color: white;
    font-size: 1vw;
    margin-top: 20px;
    border: 0 solid transparent;
}
.contactus_container{
    margin-top: 20px;
    color: white;
    line-height: 40px;
}
.address_container{
    color: white;
    text-align: right;
    line-height: 40px;
    margin-top: 20px;
}
.address_title{
    font-size: 22px;
}
.contactus_title{
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
    footer{
        flex-direction: column
    }
    .newsletter_container{
        order: -1;
    }
    input[type=email] {
        width: 60vw;
        height: 30px;
        font-size: 3.5vw;
    }
    .news_submit{
        width: 15vw;
        height: 30px;
        font-size: 3.5vw;
    }
    .contactus_container{
        text-align: center;
    }
    .address_container{
        text-align: center;
    }
}

















