*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: Raleway, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
/* header styling starts here */

header{
    background-color: white;
    position: relative;
    z-index: 3;
}

.logo{
    margin: 0 auto 50px auto;
    padding-top: 10px;
    height: 35px;
    display: block;
}
nav{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.overlay_content{
    position: relative;
    top: 15%;
    width: 30%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.openbtn{
    float: right;
    margin-right:20px;
    color: #C89C7A;
    height: 30px;
    position: relative;
    bottom: 70px;
}
.openbtn_img{
    height: 25px;
}
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #C89C7A;
}
.nav_item{
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px; 
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.active{
    border-left: 2px solid #C89C7A;
    border-right: 2px solid #C89C7A;

}
.nav_item:hover{
    border-left: 2px solid #C89C7A;
    border-right: 2px solid #C89C7A;
    transition: .5s;
}
hr{
    position: relative;
    left: -25%;
    width: 150%;
    background-color: #DA945B;
    height: 2px;
}
/*
.circle{
    background-color: #6593AE;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    position: absolute;
    left: -200%;
}
*/
@media only screen and (min-width: 768px) {
    .logo{
        margin: 0;
        max-width: 20%;
        height: initial;
        padding: 40px 0 0 5%;
        position: relative;
        z-index: 1;
    }
    .openbtn{
        display: none;
    }
    .closebtn{
        display: none;
    }
    hr{
        display: none;
    }
    nav{
        height: initial;
        width: initial;
        position: initial;
        float: right;
        display: initial;
        margin-top: -30px;
        
    }
    .overlay_content{
        text-align: center;
        font-size: 20px;
        padding: 0 5% 0 5%;
        display: flex;
        justify-content: flex-end;
        width: initial;
        height: initial;
    }
    .nav_item{
        margin-left: 20px;
        width: inherit;
        display: inline-block;
        white-space: nowrap;
    }
    
}

/*

 --- old desktop first settings ---
.logo{
    margin-top: 40px;
    max-width: 20%;
    padding-left: 5%;
}

nav{
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 0 5% 0 5%;
}
*/

/* header styling ends here */

.search_container{
    margin-top: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.searchbar{
    width: 40vw;
    height: 40px;
    font-family: Raleway, sans-serif;
    display: inline-block;
    border: 4px solid #6593AE;
    padding-left: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #6593AE;
    font-weight: bold;
}
.searchbar:placeholder{
    color: #6593AE;
}
.search_icon{
    border: 4px solid #6593AE;
    height: 40px;
    padding: 3px 0 3px 0;
    width: 5vw;
    display: inline-block;
    margin-left: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.specoff_title{
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 50px;
}

@media only screen and (max-width:768px) {
    .headline_container{
        width: 75%;
        top: 14%;
    }
    .subheadline{
        font-size: 3vw;
    }
    .headline{
        font-size: 6vw;
    }
    .sun{
        margin-top: 0;
    }
    .sun_bg{
        top: 8%;
    }
    .sun_container{
        margin-top: -50px;
    }
    .search_container{
        margin-top: 80px;
    }
    .searchbar{
        width: 70vw;
        font-size: 12px;
    }
    .search_icon{
        width: 15vw;
    }
    .specoff_title{
        padding: 15px;
    }
    
}


/*Carousel styling starts here */

.carousel_container{
    width: 87%;
    margin: auto;
    padding-bottom: 50px;
}


.carousel_bg{
    background-color: #C89C7A;
    margin-top: 100px;
}
.carousel_slide_container{
    margin: 5px 0 5px 0;
}
.carousel_slide{
    background-color: #FFFBF0;
    border-radius: 15px;
    width: 250px;
    height: 350px;
    position: relative;
}

.heart{
    float: right;
    margin: 10px;
}
.product_image{
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    clear: both;
    position: relative;
    bottom: 7%;
}
.discount_box{
    background-color: #FF0C2E;
    width: 70px;
    height: 90px;
    float: right;
    border-radius: 15px;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    right: 10%;
    bottom: 33%;
}
p2{
    font-size: 24px;
}
p3{
    text-decoration: line-through;
}
h3{
    text-align: center;
    margin: auto;
}
.add-cart{
    position: absolute;
    bottom: 2%;
    text-align: center;
    clear: both;
    width: 95%;
    margin-left: 2.5%;
    border: solid 3px #DA945B;
    border-radius: 15px;
    height: 40px;
    line-height: 34px;
    font-size: 20px;
    color: inherit;
}


@media (-webkit-device-pixel-ratio: 1) {
.carousel_slide{
    width: 280px;
    height: 420px;
}
.product_image{
    width: 200px;
    
}
.discount_box{
    bottom: 30%;
}
}
@media (-webkit-device-pixel-ratio: 1.5) {
        
.carousel_slide{
    width: 200px;
    height: 300px;
}
.product_image{
    max-width: 100px;
    
}
.discount_box{
    bottom: 30%;
    width: 50px;
    height: 70px;
    color: white;
    padding: 5px;
    position: absolute;
    right: 10%;
    bottom: 42%;
}
    h2{
        font-size: 20px;
    }
    p2{
        font-size: 15px;
    }
    p3{
        font-size: 15px;
    }
}
@media only screen and (max-width: 768px) {
   .carousel_slide{
    width: 150px;
    height: 270px;
}
.product_image{
    max-width: 100px;
    
}
.discount_box{
    bottom: 30%;
    width: 50px;
    height: 70px;
    color: white;
    padding: 5px;
    position: absolute;
    right: 10%;
    bottom: 37%;
}
    h2{
        font-size: 20px;
    }
    p2{
        font-size: 15px;
    }
    p3{
        font-size: 15px;
    }
    h3{
        font-size: 17px;
    }
    .add-cart{
        font-size: 18px;
        height: 30px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .carousel_slide{
        width: 130px;
        height: 250px;
    }
    
    h2{
        font-size: 17px;
    }
    p2{
        font-size: 13px;
    }
    p3{
        font-size: 13px;
    }
    h3{
        font-size: 13px;
    }
    .add-cart{
        font-size: 13px;
        height: 27px;
        line-height: 21px;
    }
    .discount_box{
        bottom: 33%;
    }
}




@media only screen and (max-width: 768px) {
    .carousel_container{
        width: 100%;
        margin: 10px auto;
    }
    .specoff_title{
        font-size: 35px;
    }
    .carousel_bg{
        margin-top: 0;
    }
}

/*Carousel styling ends here */


.products_title{
    text-align: center;
    font-size: 50px;
    color: #6593AE;
    padding: 50px;
}
.products_bg{
    background-color: #6593AE;
}
.dropdown_container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 50%;
    margin: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.sortby_button{
    background-color: #6593AE;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: white;
    padding: 10px;
    width: 130px;
    font-weight: bold;
    font-size: 15px;
}
.dropdown_button{
    background-color: #6593AE;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: white;
    padding: 10px;
    width: 160px;
    font-size: 15px;
    font-weight: bold;
}
.categories_content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}
.countries_content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}
.sortby_content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}
.dropdown_option{
    color: white;
    display: block;
    background-color: #6593AE;
    padding: 15px;
    border-bottom: 2px solid white;
}
.dropdown_option:hover{
    background-color: #3D5867;
}
.sortby:hover .sortby_content{
    display: block;
}
.categories:hover .categories_content{
    display: block;
}
.countries:hover .countries_content{
    display: block;
}
.open_img{
    max-height:18px;
    padding: 4px;
    display: inline-block;
    float: right;
}




.products_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.products_container .carousel_slide{
    margin: 20px;
    display: inline-block;
}
.seemore_button{
    margin: auto;
    display: block;
    padding: 25px;
}
@media only screen and (max-width: 768px){
    .products_container .carousel_slide{
        margin: 10px;
        display: inline-block;
    }
    .dropdown_container{
        flex-direction: column;
        text-align: center;
        height: 200px;
        width: 160px;
    }
}
@media only screen and (max-width: 500px){
    .products_container .carousel_slide{
        width: 160px;
    }
}
.wish_desc{
    text-align: center;
    width: 60vw;
    margin: auto;
    display: block;
    position: relative;
    bottom: 30px;
    font-size: 20px;
}

.wish_container{
    margin: auto;
    width: 90vw;
    height: 45vw;
    border-top-left-radius: 45vw;
    border-top-right-radius: 45vw;
    background-color: #DA945B;
    text-align: center;
    padding-top: 6vw;
}
.wish_text{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.contact_input_box{
    display: block;
    margin: 1vw auto 4vw auto;
    width: 30vw;
    height: 3vw;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px;
    color: #6593AE;
}
.wish_input_box{
    display: block;
    margin: 1vw auto 4vw auto;
    width: 50vw;
    height: 8vw;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px;
    color: #6593AE;
    font-family: Raleway, sans-serif;
}
.submit_container{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: auto;
}
.addphoto{
    max-height: 4vw;
}
.wish_submit{
    width: 200px;
    height: 4vw;
    margin: auto;
    text-align: center;
    background-color: white;
    color: #6593AE;
    border-radius: 2vw;
    font-size: 2vw;
    font-weight: bold;
    line-height: 4vw;
}
@media only screen and (max-width:1200px){
    .wish_container{
        padding-top: 2vw;
    }
}
@media only screen and (max-width:768px){
    .wish_container{
        height: 90vw;
        border-radius: 50%;
        margin-bottom: 20px;
        padding-top: 10vw;
    }
    .wish_desc{
        font-size: 15px;
    }
    .wish_text{
        font-size: 15px;
    }
    .contact_input_box{
        width: 55vw;
        height: 7vw;
        font-size: 15px;
    }
    .wish_input_box{
        font-size: 15px;
        width: 65vw;
        height: 15vw;
    }
    .submit_container{
        width: 55vw;
    }
    .wish_submit{
        width: 35vw;
        height: 7vw;
        line-height: 7vw;
        font-size: 20px;
    }
    .addphoto{
        max-height: 12vw;
    }
}

/* FOOTER CODE STARTS HERE */ 
footer{
    background-color: #3D5867;
    display: flex;
    justify-content: space-around;
}
.newsletter_container{
    text-align: center;
    color: white;
    clear: both;
}
.sub2news{
    clear: both;
    padding-top: 20px;
}
input[type=email] {
    width: 25vw;
    height: 2vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 1vw;
    border: 0 solid transparent;
}
.news_submit{
    width: 4vw;
    height: 2vw;
    display: inline-block;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Raleway, sans-serif;
    background-color: white;
    font-size: 1vw;
    margin-top: 20px;
    border: 0 solid transparent;
}
.contactus_container{
    margin-top: 20px;
    color: white;
    line-height: 40px;
}
.address_container{
    color: white;
    text-align: right;
    line-height: 40px;
    margin-top: 20px;
}
.address_title{
    font-size: 22px;
}
.contactus_title{
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
    footer{
        flex-direction: column
    }
    .newsletter_container{
        order: -1;
    }
    input[type=email] {
        width: 60vw;
        height: 30px;
        font-size: 3.5vw;
    }
    .news_submit{
        width: 15vw;
        height: 30px;
        font-size: 3.5vw;
    }
    .contactus_container{
        text-align: center;
    }
    .address_container{
        text-align: center;
    }
}