*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    margin-top: 40px;
    max-width: 20%;
    padding-left: 5%;
}

nav {
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 0 5% 0 5%;
}

.nav_item {
    margin-left: 1.5%;
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.nav_item_active {
    margin-left: 1.5%;
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid #3D5867;
    border-right: 2px solid #3D5867;
    background-color: white;
}

.nav_item:hover {
    border-left: 2px solid #C89C7A;
    border-right: 2px solid #C89C7A;
    transition: .5s;
}

/* The main part starts */
.login_container {
    margin-top: 50px;
}

.login_image {
    display: block;
    margin: auto;
    width: 5vw;
}

.login_title {
    text-align: center;
    font-size: 40px;
    color: #DA945B;
}

.login_type {
    background-color: #6593AE;
    overflow: auto;
    margin: auto;
    width: 35vw;
    padding: 25px 25px 65px 25px;
    margin: 55px auto 35px auto;
}

.login_box {
    color: #FFFFFF;
    position: relative;
    font-family: Raleway, sans-serif;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}

input[type=text] {
    width: 100%;
    padding: 0 0 12px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #FFFFFF;
    font-family: Raleway, sans-serif;
    color: white;
    background-color: #6593AE;
    outline: none;
    font-size: 20px;

}

.LogIn_button {
    color: white;
    margin: 25px auto;
    display: block;
    width: 25vw;
    height: 3vw;
    background-color: #DA945B;
    border-radius: 15px;
    border: none;
    font-family: Raleway, sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 3vw;
    margin-top: 60px;
    font-weight: bold;

}

.LogIn_button:hover {
    color: #6593AE;
}

.SignUp_button {
    color: #DA945B;
    font-size: 25px;
    display: block;
    text-align: center;
    font-weight: bold;

}

.SignUp_button:hover {
    color: #6593AE;
}


input {
    width: 100%;
    padding: 0 0 12px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #FFFFFF;
    font-family: Raleway, sans-serif;
    color: white;
    background-color: #6593AE;
    outline: none;
    font-size: 20px
}

checkbox {
    color: white;
}
.welcome {
    color: #DA945B;
    font-size: 19px;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 500;
    border-bottom: 2px solid maroon;
    padding-bottom: 5px;
    border-bottom-color: #6593AE;
    border-bottom-width: thin;
}

.dropdown {
    margin-left: 1.5%;
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.dropdown_active {
    margin-left: 1.5%;
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid #3D5867;
    border-right: 2px solid #3D5867;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #DA945B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content-signout {
    color: aliceblue;
}