+ *,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    margin-top: 40px;
    max-width: 20%;
    padding-left: 5%;
}

nav {
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 0 5% 0 5%;
}

.nav_item {
    margin-left: 1.5%;
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.nav_item_active {
    margin-left: 1.5%;
    color: #DA945B;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 3px solid #3D5867;
    border-right: 3px solid #3D5867;
}

.nav_item:hover {
    border-left: 3px solid #C89C7A;
    border-right: 3px solid #C89C7A;
    transition: .5s;
}

< !-- The main part starts -- > .login_pic {
    text-align: center;
    margin: auto;

}

.login_title {
    text-align: center;
    position: relative;
    top: 10vw;
    font-size: 40px;
    color: #DA945B;
}

.login_type {
    background-color: #6593AE;
    width: 515px;
    height: 288px;
    position: relative;
    overflow: auto;


}

.login_box {
    font-size: 18;
    color: #FFFFFF;
    position: relative;
    font-family: Raleway, sans-serif;
    padding-left: 40px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    font-family: Raleway, sans-serif;
    color: white;
    background-color: #6593AE;
    outline: none;
    font-size: 18;
}
.LogIn_button {
    color: #DA945B;
    
}